@model Time_Travel_Machine.Models.Change_Request

@{
    ViewBag.Title = "crDetails";
}


<div>
    <h4>Change Request</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            Change Request ID
        </dt>


        <dd>
            @Html.DisplayFor(model => model.Change_Request_Id)
        </dd>*@
        <dt>
            Picture
        </dt>
        <dd>
            @if (Model.picname != string.Empty)
            {
                <img src="../UploadPicture/@Model.picname" alt="@Model.Content_Name" width="120" height="120">
            }
        </dd>

        <dt>
            Region
        </dt>

        <dd>
            @Html.DisplayFor(model => model.regionName)
        </dd>

        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryName)
        </dd>



        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content_Name)
        </dd>

        <dt>
            Year
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>








        <dt>
            The Reason to Do this Change
        </dt>

        <dd><p>
            @Html.DisplayFor(model => model.reason)</p>
        </dd>

        <dt>
            Detail
        </dt>

        <dd><p>
            @Html.DisplayFor(model => model.detail)
            </p>
            <p>
                @Html.DisplayFor(model => model.extent)
            </p>
        </dd>

        @*<dt>
            Request Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request_type)
        </dd>*@

        <dt>
            Wiki
        </dt>

        <dd>
            @if (Model.wiki_key != string.Empty)
            {
                <iframe src="@Model.wiki_key" scrolling="yes" frameborder="1" width="720" height="360"></iframe>
            }
        </dd>

        <dt>
            Video
        </dt>

        <dd>
            @if (Model.video_key != string.Empty)
            {
                <iframe src="@Model.video_key" scrolling="yes" frameborder="1" width="720" height="480"></iframe>
            }
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.usename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usename)
        </dd>*@
        <dt>
            The Upload Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastupdatetime)
        </dd>
    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index","ChangeRequest")
</p>
