@model IEnumerable<Time_Travel_Machine.Models.ContentIndex>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Want to Create a New One", "Index", "ChangeRequest") || @Html.ActionLink("View All", "Index", "HisContent")
    || @Html.ActionLink("Go Back", "Index", "Category", new { selectedregionId = ViewBag.seletedreid }, null)
</p>


<div style="margin-bottom:2%;">
    @using (Html.BeginForm("FilterIndex", "HisContent"))
    {
        <fieldset>
            <legend>Filter:</legend>
            <table>
                <tr>
                    <td>
                        <p>
                            @Html.Label("Start Year")
                            @Html.DropDownList("ddlstartyear", (SelectList)ViewBag.yearselectlist)
                        </p>
                    </td>
                    <td>
                        <p>
                            @Html.Label("End Year")
                            <select id="ddlendyear" name="ddlendyear"><option>------</option></select>
                        </p>
                    </td>
                    <td>
                        <p>
                            @Html.Label("Name")
                            <input type="text" name="searchstring" id="searchstring">
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><input type="hidden" name="regionId" id="regionId" value="@ViewBag.seletedreid" /></td>
                    <td><input type="hidden" name="categoryId" id="categoryId" value="@ViewBag.seletedcaid" /></td>
                    <td>
                        <input type="submit" value="Filter" style="float:right">
                    </td>
                </tr>
            </table>
        </fieldset>
    }
</div>
<table class="table">
    <tr>
        <th>
            Picture
        </th>

        <th>
            Region
        </th>

        <th>
            Category
        </th>

        <th>
            Name
        </th>
        <th>
            Year
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.picname != string.Empty)
                {

                    <img src="../UploadPicture/@item.picname" alt="@item.Content_Name" width="45" height="45">
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.regionName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.categoryName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Content_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>




            <td>
                @Html.DisplayFor(modelItem => item.detail)
            </td>
            <td>

                @Html.ActionLink("See more", "Details", "HisContent", new { conId = item.Content_Id }, null)

            </td>
        </tr>
    }

</table>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" language="javascript">

    $(document).ready(function () {
        $('#ddlstartyear').change(function () { ChangeStartYear(); });
    });

    function ChangeStartYear() {
        var selectedValue = $('#ddlstartyear option:selected').val();
        if ($.trim(selectedValue).length > 0) {
            GetYears(selectedValue);
        }
    }

    function GetYears(yearID) {
        $.ajax({
            url: '@Url.Action("GetEndYearDDL", "HisContent")',
            data: { startyearcode: yearID },
            type: 'post',
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                if (data.length > 0) {
                    $('#ddlendyear').empty();
                    $('#ddlendyear').append($('<option></option>').val('').text('select the End Year'));
                    $.each(data, function (i, item) {
                        $('#ddlendyear').append($('<option></option>').val(item.Key).text(item.Value));
                    });
                }
            }
        });
    }
</script>

